<p-table
  [value]="clients"
  dataKey="id"
  [rowHover]="true"
  [lazy]="true"
  [rows]="10"
  [showCurrentPageReport]="true"
  [loading]="loading" responsiveLayout="scroll"
  [paginator]="true"
  (onLazyLoad)="loadCarsLazy($event)"
  [totalRecords]="totalRecords"
  [filterDelay]="0"
>
  <ng-template pTemplate="caption">
    <div class="table-header flex justify-content-between align-items-center">
      <h2 class="mb-0 mt-0">Clients</h2>
      <tbc-button-link href="./add" text="Add client"></tbc-button-link>
    </div>
  </ng-template>
  <ng-template pTemplate="header">
    <tr>
      <th pSortableColumn="personalNumber">
        <div class="flex justify-content-between align-items-center">
          Personal number
        </div>
      </th>
      <th pSortableColumn="name">
        <div class="flex justify-content-between align-items-center">
          Name
        </div>
      </th>
      <th pSortableColumn="gender">
        <div class="flex justify-content-between align-items-center">
          Gender
        </div>
      </th>
      <th pSortableColumn="mobileNumber">
        <div class="flex justify-content-between align-items-center">
          Mobile number
        </div>
      </th>
      <th pSortableColumn="legalAddress">
        <div class="flex justify-content-between align-items-center">
          Legal address
        </div>
      </th>
      <th pSortableColumn="physicalAddress">
        <div class="flex justify-content-between align-items-center">
          Physical address
        </div>
      </th>
      <th style="width: 8rem"></th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-client>
    <tr class="p-selectable-row">
      <td>
        <span class="p-column-title">Personal Number</span>
        {{client.personalNumber}}
      </td>
      <td>
        <span class="p-column-title">Name</span>
        <span class="image-text">{{client.name}}</span>
      </td>
      <td>
        <span class="p-column-title">Gender</span>
        <span class="image-text">{{client.gender}}</span>
      </td>
      <td>
        <span class="p-column-title">Mobile Number</span>
        <span class="image-text">{{client.mobileNumber}}</span>
      </td>
      <td>
        <span class="p-column-title">Legal Address</span>
        <span class="image-text">{{client.legalAddress}}</span>
      </td>
      <td>
        <span class="p-column-title">Physical Address</span>
        <span class="image-text">{{client.physicalAddress}}</span>
      </td>
      <td style="text-align: center">
        <tbc-button-link text="Info" href="./{{client.id}}"></tbc-button-link>
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="emptymessage">
    <tr>
      <td colspan="8" class="empty-message">
        <div class="empty-message">
          No clients found.
        </div>
      </td>
    </tr>
  </ng-template>
</p-table>
