<form (ngSubmit)="onSubmit()" [formGroup]="clientForm" class="grid p-fluid">
  <div class="col-12 md:col-6">
    <tbc-input
      [readonly]="readonly"
      errorMessage="Only latin character and spaces allowed"
      formControlName="firstName"
      label="First name"
      placeholder="First name"
    ></tbc-input>
  </div>
  <div class="col-12 md:col-6">
    <tbc-input
      [readonly]="readonly"
      errorMessage="Only latin character and spaces allowed"
      formControlName="lastName"
      label="Last name"
      placeholder="Last name"
    ></tbc-input>
  </div>
  <div class="col-12 field">
    <tbc-input
      [readonly]="true"
      errorMessage="Only 11 digits allowed"
      formControlName="personalNumber"
      label="Personal number"
      placeholder="Personal number"
      type="number"
    ></tbc-input>
  </div>
  <div class="col-12 field">
    <tbc-input
      [readonly]="readonly"
      before="+5"
      errorMessage="Mobile number should contain 8 digits only"
      formControlName="mobileNumber"
      label="Mobile Number"
      placeholder="Mobile Number"
    >
    </tbc-input>
  </div>
  <div class="col-12 field">
    <h4 class="mb-3 mt-0">Gender</h4>
    <p-dropdown
      [options]="genderOptions"
      [readonly]="readonly"
      formControlName="gender"
      optionLabel="name"
      optionValue="value"
    ></p-dropdown>
  </div>
  <section class="col-12" formGroupName="legalAddress">
    <h4 class="col-12 mb-0 mt-0">Legal address</h4>
    <div class="flex">
      <div class="col-4 field">
        <tbc-input
          [readonly]="readonly"
          errorMessage="Required"
          formControlName="country"
          label="Country"
          placeholder="Country"
        ></tbc-input>
      </div>
      <div class="col-4 field">
        <tbc-input
          [readonly]="readonly"
          errorMessage="Required"
          formControlName="city"
          label="City"
          placeholder="City"
        ></tbc-input>
      </div>
      <div class="col-4 field">
        <tbc-input
          [readonly]="readonly"
          errorMessage="Required"
          formControlName="address"
          label="Address"
          placeholder="Address"
        ></tbc-input>
      </div>
    </div>
  </section>
  <section class="pb-3 col-12" formGroupName="physicalAddress">
    <h4 class="col-12 mb-0 mt-0">Physical address</h4>
    <div class="flex">
      <div class="col-4 field">
        <tbc-input
          [readonly]="readonly"
          errorMessage="Required"
          formControlName="country"
          label="Country"
          placeholder="Country"
        >
        </tbc-input>
      </div>
      <div class="col-4 field">
        <tbc-input
          [readonly]="readonly"
          errorMessage="Required"
          formControlName="city"
          label="City"
          placeholder="City"
        ></tbc-input>
      </div>
      <div class="col-4 field">
        <tbc-input
          [readonly]="readonly"
          errorMessage="Required"
          formControlName="address"
          label="Address"
          placeholder="Address"
        ></tbc-input>
      </div>
    </div>
  </section>
  <section *ngIf="!readonly" class="col-12">
    <button [loading]="isLoading" label="Save" pButton type="submit"></button>
  </section>
</form>
