<form class="grid p-fluid" [formGroup]="clientForm" (ngSubmit)="onSubmit()">
        <div class="col-12 md:col-6">
          <tbc-input
            label="First name"
            formControlName="firstName"
            [readonly]="readonly"
            placeholder="First name"
            errorMessage="Only latin character and spaces allowed"
          ></tbc-input>
        </div>
        <div class="col-12 md:col-6">
          <tbc-input
            [readonly]="readonly"
            label="Last name"
            formControlName="lastName"
            placeholder="Last name"
            errorMessage="Only latin character and spaces allowed"
          ></tbc-input>
        </div>
        <div class="col-12 field">
          <tbc-input
            [readonly]="readonly"
            type="number"
            label="Personal number"
            formControlName="personalNumber"
            placeholder="Personal number"
            errorMessage="Only 11 digits allowed"
          ></tbc-input>
        </div>
        <div class="col-12 field">
          <tbc-input
            [readonly]="readonly"
            before="+5"
            label="Mobile Number"
            formControlName="mobileNumber"
            placeholder="Mobile Number"
            errorMessage="Mobile number should contain 8 digits only"
          >
          </tbc-input>
        </div>
        <div class="col-12 field">
          <h4 class="mb-3 mt-0">Gender</h4>
          <p-dropdown
            [options]="genderOptions"
            formControlName="gender"
            optionLabel="name"
            optionValue="value"
            [readonly]="readonly"
          ></p-dropdown>
        </div>
        <section formGroupName="legalAddress">
          <h4 class="col-12 mb-0 mt-0">Legal address</h4>
          <div class="flex">
            <div class="col-12 md:col-4 field">
              <tbc-input
                [readonly]="readonly"
                label="Country"
                formControlName="country"
                placeholder="Country"
                errorMessage="Required"
              ></tbc-input>
            </div>
            <div class="col-12 md:col-4 field">
              <tbc-input
                [readonly]="readonly"
                label="City"
                formControlName="city"
                placeholder="City"
                errorMessage="Required"
              ></tbc-input>
            </div>
            <div class="col-12 md:col-4 field">
              <tbc-input
                label="Address"
                [readonly]="readonly"
                formControlName="address"
                placeholder="Address"
                errorMessage="Required"
              ></tbc-input>
            </div>
          </div>
        </section>
        <section class="pb-3" formGroupName="physicalAddress">
          <h4 class="col-12 mb-0 mt-0">Physical address</h4>
          <div class="flex">
            <div class="col-12 md:col-4 field">
              <tbc-input
                label="Country"
                formControlName="country"
                [readonly]="readonly"
                placeholder="Country"
                errorMessage="Required"
              >
              </tbc-input>
            </div>
            <div class="col-12 md:col-4 field">
              <tbc-input
                label="City"
                formControlName="city"
                placeholder="City"
                [readonly]="readonly"
                errorMessage="Required"
              ></tbc-input>
            </div>
            <div class="col-12 md:col-4 field">
              <tbc-input
                label="Address"
                formControlName="address"
                [readonly]="readonly"
                placeholder="Address"
                errorMessage="Required"
              ></tbc-input>
            </div>
          </div>
        </section>
        <section *ngIf="!readonly" class="col-12">
          <button pButton type="submit" label="Save"></button>
        </section>
      </form>
