<div class="flex align-content-center justify-content-center">
  <div class="col-10 align-content-center">
    <p-panel header="Client details" [toggleable]="true">
      <ng-template pTemplate="icons">
        <button (click)="isClientEditMode = !isClientEditMode" *ngIf="!isClientEditMode" pButton class="p-panel-header-icon edit-icon" icon="pi pi-pencil"></button>
        <button (click)="isClientEditMode = !isClientEditMode" *ngIf="isClientEditMode" pButton class="p-panel-header-icon edit-icon" icon="pi pi-times"></button>
        <button (click)="isDeleteModalVisible = true" pButton class="p-panel-header-icon edit-icon" icon="pi pi-trash"></button>
      </ng-template>
      <client-form
        *ngIf="!isLoading"
        [client]="currentClient"
        [readonly]="!isClientEditMode"
      ></client-form>
    </p-panel>
    <div class="pb-4"></div>
    <p-panel header="Accounts" [toggleable]="true">
      <tbc-account-form [readonly]="true" [account]="currentAccount"></tbc-account-form>
      <p-divider></p-divider>
      <tbc-account-form [readonly]="true" [account]="currentAccount"></tbc-account-form>
      <p-divider></p-divider>
      <tbc-account-form [readonly]="true" [account]="currentAccount"></tbc-account-form>
      <p-divider></p-divider>
      <tbc-account-form></tbc-account-form>
    </p-panel>
  </div>
</div>
<p-dialog header="Delete client" [visible]="isDeleteModalVisible" [modal]="true" [style]="{width: '50vw'}">
  <p>Are you sure that you want to delete client ?</p>
  <ng-template pTemplate="footer">
    <p-button (click)="isDeleteModalVisible = false" label="Cancel" styleClass="p-button-text"></p-button>
    <p-button icon="pi pi-trash" label="Delete" styleClass="p-button-text p-button-danger"></p-button>
  </ng-template>
</p-dialog>
