<div class="flex align-content-center justify-content-center">
  <div class="col-10 align-content-center">
    <p-panel [toggleable]="true" header="Client details">
      <ng-template pTemplate="icons">
        <button (click)="isClientEditMode = !isClientEditMode"
                class="p-panel-header-icon edit-icon"
                icon="pi {{isClientEditMode ? 'pi-times' : 'pi-pencil'}}"
                pButton
        ></button>
        <button (click)="isDeleteModalVisible = true" class="p-panel-header-icon edit-icon" icon="pi pi-trash"
                pButton></button>
      </ng-template>
      <tbc-client-form
        (submitForm)="updateClient($event)"
        [client]="client"
        [isLoading]="isClientLoading"
        [readonly]="!isClientEditMode"
      ></tbc-client-form>
    </p-panel>
    <div class="pb-4"></div>
    <p-panel [toggleable]="true" header="Accounts">
      <tbc-account-form (createAccount)="createAccount($event)" [isLoading]="isAccountLoading"></tbc-account-form>
      <ng-container *ngFor="let account of accounts;">
        <p-divider></p-divider>
        <tbc-account-form (closeAccount)="closeAccount($event)" [account]="account" [isLoading]="isAccountLoading"
                          [readonly]="true"></tbc-account-form>
      </ng-container>
    </p-panel>
  </div>
</div>
<p-dialog
  [closable]="!isDeleteLoading"
  [modal]="true"
  [style]="{width: '50vw'}"
  [visible]="isDeleteModalVisible"
  header="Delete client"
>
  <p>Are you sure that you want to delete client ?</p>
  <ng-template pTemplate="footer">
    <p-button (click)="isDeleteModalVisible = false" [disabled]="isDeleteLoading" label="Cancel"
              styleClass="p-button-text"></p-button>
    <p-button (click)="deleteClient()" [disabled]="isDeleteLoading" icon="pi pi-trash" label="Delete"
              styleClass="p-button-text p-button-danger"></p-button>
  </ng-template>
</p-dialog>
